/* Header */

.prof-pic {
    border-radius:  150px;
    width: 90px;
  }
  
  .user-name {
    text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  .user-name a {
     color: rgb(213, 2, 255);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Karla', Helvetica, sans-serif;
  }
  
  .user-name a:hover {
    color: #000;
  }